<% provide(:title, 'Top') %>
<div class = "center jumbotron">
  <h1>勤怠管理システム TypeB</h1>
  <p>登録されたユーザーの勤怠情報を閲覧、登録、編集することができます</p>
  <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
</div>


